@import "animation.css";
@import "variables.css";
@import "lenis.css";
@import "menu.css";

@import "corner-border.css";
@import "lines.css";

* {
  box-sizing: border-box;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* font-size: calc(((24 / 1920) * 100) * 1vw); */

html {
  font-size: clamp(16px, calc(((24 / 1680) * 100) * 1vw), 24px);
  /* font-size: 16px; */
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

:root {
  overscroll-behavior: none;
  overflow-x: hidden;
}

/* gradients */
[data-css="ho-tx1"] {
  background: linear-gradient(90deg, #65baac, #94eadc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@media only screen and (min-width: 767px) {
  /* desktop */
  [data-hide="desktop"] {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  /* mobile */
  :root {
    /* --text-h1: 3.2rem; */
    --gx: 1rem;
    --text--h1: 2.3rem;
    --text--h2: 2.3rem;
  }

  /* html {
    font-size: 16px;
  } */

  [data-hide="mobile"] {
    display: none;
  }
}

/* ------ Home */

/* -- PARTNERS */
[data-s="partners"] {
  .partner-grid-it {
    .abs {
      opacity: 0;
      transition: opacity var(--duration) var(--ease-out);
    }

    .svg {
      opacity: 1;
      transition: opacity var(--duration) var(--ease-out);
    }
  }

  .partner-grid-it:hover {
    .abs {
      opacity: 1;
    }

    .svg {
      opacity: 0;
    }
  }
}

/* -- NEWS */
[data-s="news"] {
  .news-card-w {
    .news-img {
      filter: grayscale(100%);
      transition: filter var(--duration) var(--ease-out);
    }

    [data-news="arrow"] {
      transform: rotate(0deg);
      transition: transform var(--duration) var(--ease-out);
    }
  }

  .news-card-w:hover {
    .news-img {
      filter: grayscale(0%);
    }

    [data-news="arrow"] {
      transform: rotate(45deg);
    }
  }
}
