[data-nav="w"].dark {
  transition: color var(--duration) var(--easeOut); /* border: 2px solid blue; */

  color: var(--col--yankeeblue);

  svg {
    transition: color var(--duration) var(--easeOut);
    color: var(--col--yankeeblue);
  }

  .nav-lk-w {
    transition: color var(--duration) var(--easeOut);
    color: var(--col--yankeeblue);
  }
}
