/* src/styles/news.css */

/* .nws-title.current {
  border: 1px solid red;

  color: black;
} */

.news-slider-w {
  /* outline: 1px solid red; */

  svg {
    transition: opacity 0.3s;
  }

  button svg {
    opacity: 0.6;
  }

  button:hover svg {
    /* color: var(--col--yankeeblue) !important; */
    opacity: 1;
  }

  button.disabled svg {
    opacity: 0.5 !important;
  }
}
