[data-openings="w"] {
  .dropdown-list {
    visibility: hidden;
  }

  .active .dropdown-list {
    visibility: visible;
  }
}

[data-filter="locations"],
[data-filter="department"] {
  .drop-icon {
    transform: rotate(0deg);
    transition: transform 0.3s;
  }
  .dropdown-list {
    z-index: 10000000000;
  }
}

[data-filter="locations"].active,
[data-filter="department"].active {
  .drop-icon {
    transform: rotate(180deg);
  }

  .dropdown-list {
    z-index: 10000000000;
  }
}
